SetEnv APPLICATION_ENV production
php_flag display_errors Off
RewriteEngine On
RewriteRule ^index\.php$ - [L]

# uploaded files


RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule . index.php [L]